<footer>
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                {{ 'footer.address'|trans|raw }}
            </div>
            <div id="footer-contact" class="col-md-6">
                {{ 'footer.contact'|trans|raw }}
            </div>
        </div>
    </div>
</footer>

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Footer Fragment rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
