{% extends "filter.html.twig" %}
{% block filter %}
    <form method="post" class="form-group-sm">   
        {{ form_rest(form) }}
        {% include 'buttonfilter.html.twig' %}               
    </form>
{% endblock %}
