{% extends "base.html.twig" %}
{% block title %} {{ 'profile.reset.password'|trans({},'messages') }}{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block main %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
{% endblock %}
