{% extends "filter.html.twig" %}
{% block filter %}
    <form method="post" class="form-group-sm">  
        <div class="row">
             <div class="col-md-6">
                {{ form_row(form.firstname) }}
             </div>
              <div class="col-md-6">
                {{ form_row(form.lastname) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                {{ form_row(form.zipcode) }}
             </div>
              <div class="col-md-6">
                {{ form_row(form.city) }}
             </div>
        </div>
        {{ form_rest(form) }} 
        {% include 'buttonfilter.html.twig' %}                  
    </form>
{% endblock %}
