{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>{% set time_format = "H:i" %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{{ 'application.title'|trans }}{% endblock %}</title>

        {% block stylesheets %}
        {# uncomment the following lines to compile SCSS assets with Assetic#}

            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap-flatly.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/select2/select2.min.css"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            {{ render_esi(controller('FrameworkBundle:Template:template', {
                'template': 'default/header.html.twig',
                'sharedAge': 600,
                '_locale': app.request.locale
            })) }}
		
		{% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="{{ sizeMain|default('col-sm-12') }}">
                        <h1>{{ block('title') }}</h1>
                        {{ include('default/_flash_messages.html.twig') }}
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="{{ sizeSidebar|default('col-sm-12') }}">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
            <div id="modal-wrapper"></div>
        </div>

        {% block footer %}
            {{ render_esi(controller('FrameworkBundle:Template:template', {
                'template': 'default/footer.html.twig',
                'sharedAge': 600,
                '_locale': app.request.locale
            })) }}
        {% endblock %}

        {% block javascripts %}
        {# uncomment the following lines to combine and minimize JavaScript assets with Assetic      #}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
                "%kernel.root_dir%/Resources/assets/js/moment.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
                "%kernel.root_dir%/Resources/assets/js/highlight.pack.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-datetimepicker.min.js"
                "%kernel.root_dir%/Resources/assets/js/select2/select2.min.js"
                "%kernel.root_dir%/Resources/assets/js/formPrototype.js"
                "%kernel.root_dir%/Resources/assets/js/main.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
  
        {% endblock %}
        {% block customjavascripts %}
        {% endblock %}   

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>
