<div class="row">
    <div class="col-md-4 btn-filter">
        <button type="submit" name="search" id="1"
                class="btn btn-default btn-sm" ><i class="fa fa-search"></i>{{ 'filter.action.search'|trans }}</button>
        <button type="reset" name="reset" id="reset" value="1"
                class="btn btn-default btn-sm" ><i class="fa fa-remove"></i>{{ 'filter.action.reset'|trans }}</button>              
     </div>
</div>