{% if transName is defined %}
<th>
    <i class="fa fa-sort{% if entities.isSorted(columnName) %}-{{ entities.getDirection()  }}{% endif %}"></i>
    {{ knp_pagination_sortable(entities, transName|trans , columnName, {'defaultDirection' : 'asc'}) }} 
</th>
{% else %}
    <th>
    <i class="fa fa-sort{% if entities.isSorted(columnName) %}-{{ entities.getDirection()  }}{% endif %}"></i>
    {{ knp_pagination_sortable(entities, columnName|trans , columnName, {'defaultDirection' : 'asc'}) }} 
</th>
{% endif %}