<form action="{{ path('fos_user_registration_registerparent') }}" method="POST" class="fos_user_registration_register">
    <div class="row">
             <div class="col-md-12">
                {{ form_row(form.email) }}
             </div>
        </div>
         <div class="row">
             <div class="col-md-12">
                {{ form_row(form.plainPassword) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                {{ form_row(form.lastname) }}
             </div>
             <div class="col-md-6">
                {{ form_row(form.firstname) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-12">
                {{ form_row(form.street) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                {{ form_row(form.zipcode) }}
             </div>
             <div class="col-md-6">
                {{ form_row(form.city) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-4">
                {{ form_row(form.phone) }}
             </div>
             <div class="col-md-4">
                {{ form_row(form.officephone) }}
             </div>
             <div class="col-md-4">
                {{ form_row(form.homephone) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                {{ form_row(form.membercode) }}
             </div>
             <div class="col-md-6">
                {{ form_row(form.membername) }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-4">
                {{ form_row(form.dpo) }}
             </div>
             <div class="col-md-8">
                    {{ 'profile.cgu'|trans({'%url%': path('app_pagecontent_view', {'id': 15}) })|raw }}
             </div>
        </div>
        <div class="row">
             <div class="col-md-12">
                {{ form_row(form.captcha) }}
             </div>
        </div>
    
    {{ form_rest(form) }}
    
    
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
