{% extends 'base.html.twig' %}
{% block title %}{{ 'profile'|trans }} {% endblock %}
{% block main %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}
